extend ../layout

block content
	.container
		.row
			table.table.table-hover
				caption Movie list
				thead
					tr
						th 片名
						th 导演
						th 国家
						th 上映年份
						th 录入时间
						th 更新时间
						th View
						th Update
						th Delete
				tbody
					each item in movies
						tr(class="item-id-#{item._id}") 
							td #{item.name}
							td #{item.doctor}
							td #{item.country}
							td #{item.year}
							//-td #{moment().format("MM-DD-YYYY")}
							td #{moment(item.meta.createAt).format("MM-DD-YYYY")}
							td #{moment(item.meta.updateAt).format("MM-DD-YYYY")}
							td: a(target="_blank", href="/movie/#{item._id}") View
							td: a(target="_blank", href="/admin/movie/update/#{item._id}") Update
							td
								button.btn.btn-danger.del(type="button", data-id="#{item._id}") Delete
	script(src="/js/admin.js")